<?xml version="1.0"?>
<config>
    <modules>
        <MpsSistemi_Iplocation>
            <version>0.1.0</version>
        </MpsSistemi_Iplocation>
    </modules>
    <global>

<!--http://www.magentocommerce.com/wiki/5_-_modules_and_development/0_-_module_development_in_magento/customizing_magento_using_event-observer_method#list_of_events-->        
        <events>
<!-- Evento dispatcher del controller base -->
            <controller_front_init_routers>
                <observers>
                    <mpslsistemi_iplocation_observer>
                        <type>singleton</type>
                        <class>MpsSistemi_Iplocation_Model_Core_Dispatch</class>
                        <method>pre_dispatch</method>
                    </mpslsistemi_iplocation_observer>
                </observers>
            </controller_front_init_routers>
        </events>  

        <blocks>
            <mpslocation>
                <class>MpsSistemi_Iplocation_Block</class>
            </mpslocation>            
        </blocks>
        <helpers>
            <mpslocation>
                <class>MpsSistemi_Iplocation_Helper</class>
            </mpslocation>            
        </helpers>        
        <models>    
            <mpslocation> 
                <class>MpsSistemi_Iplocation_Model</class>
                <resourceModel>mpslocation_mysql4</resourceModel>
            </mpslocation>
            <mpslocation_mysql4>
                <class>MpsSistemi_Iplocation_Model_Mysql4</class>
                <entities>
                    <zone>
                        <table>mps_location_zone</table>
                    </zone>
                    <zonelabel>
                        <table>mps_location_zone_label</table>
                    </zonelabel>   
                    <zonegroup>
                        <table>mps_location_zone_group</table>
                    </zonegroup>                               
                </entities>
            </mpslocation_mysql4>
        </models>
        <resources>
            <mpslocation_setup>
                <setup>
                    <module>MpsSistemi_Iplocation</module>
                </setup>                
                <connection>
                    <use>core_setup</use>
                </connection>                
            </mpslocation_setup>
            <mpslocation_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpslocation_write>
            <mpslocation_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpslocation_read>
        </resources>
    </global> 
    <frontend> 
        <routers>
            <mpslocation>
                <use>standard</use>
                    <args>
                        <module>MpsSistemi_Iplocation</module>
                        <frontName>mpslocation</frontName>
                    </args>
            </mpslocation>
        </routers>    
        <layout>
            <updates>
                <mpslocation>
                    <file>mps/mpslocation.xml</file>
                </mpslocation>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <mpslocation>
                <use>admin</use>
                <args>
                    <module>MpsSistemi_Iplocation</module>
                    <frontName>mpslocation</frontName>
                </args>
            </mpslocation>
        </routers>
    </admin>
        
    <adminhtml>           
        <menu>
             <MPS translate="title">
                <title>MPS</title>
                <sort_order>99</sort_order>  
                <children>
                    <mpslocation_zone translate="title" module="mpslocation">
                        <title>Store Zone Manager</title>
                        <sort_order>60</sort_order>
                        <children>
                            <zonegroup>
                                <title>Store Zone Group</title>
                                <sort_order>10</sort_order>
                                <action>mpslocation/adminhtml_zone_group</action>                        
                            </zonegroup>
                            <zone>
                                <title>Store Zone Definition</title>
                                <sort_order>30</sort_order>
                                <action>mpslocation/adminhtml_zone</action>                        
                            </zone>                            
                        </children>                        
                    </mpslocation_zone>
                </children> 
             </MPS>
        </menu> 
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mpslocation_options>
                                            <title>Mps Sistemi</title>
                                        </mpslocation_options>
                                    </children>
                                </config>
                            </children>
                        </system>
		    </children>
                </admin>
            </resources>
        </acl>
        <acl>
            <resources>
                <admin>
                    <children>
                        <MPS>
                            <title>MPS</title>
                            <children>
                                <zone>
                                    <title>Gestione Zone/WebSite</title>
                                </zone>
                                <zonegroup>
                                    <title>Gestione gruppi</title>
                                </zonegroup>
                            </children>
                        </MPS>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>    
    
    <default>
        <mpslocation_options>
            <location_template>
                <show_in_case_warning>WAR</show_in_case_warning>
                <show_in_case_error>ERR</show_in_case_error>
                <warning_template>mps/location/select/warning.phtml</warning_template>
                <error_template>mps/location/select/select.phtml</error_template>
            </location_template>
        </mpslocation_options>
    </default>
</config>