<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Easy Checkout - Magento Extension
 *
 * @package:    EasyCheckout
 * @category:   EcommerceTeam
 * @copyright:  Copyright 2012 EcommerceTeam Inc. (http://www.ecommerce-team.com)
 * @version:    2.0.2
 */
 -->
<config>
    <modules>
        <EcommerceTeam_EasyCheckout>
            <version>2.0.2</version>
        </EcommerceTeam_EasyCheckout>
    </modules>
    <global>
        <blocks>
            <ecommerceteam_echeckout><class>EcommerceTeam_EasyCheckout_Block</class></ecommerceteam_echeckout>
            <ecommerceteam_easycheckout><class>EcommerceTeam_EasyCheckout_Block</class></ecommerceteam_easycheckout>
        </blocks>
        <models>
            <ecommerceteam_echeckout><class>EcommerceTeam_EasyCheckout_Model</class></ecommerceteam_echeckout>
            <ecommerceteam_easycheckout><class>EcommerceTeam_EasyCheckout_Model</class></ecommerceteam_easycheckout>
            <checkout>
                <rewrite>
                    <type_onepage>EcommerceTeam_EasyCheckout_Model_Type_Easy</type_onepage>
                    <session>EcommerceTeam_EasyCheckout_Model_Session</session>
                </rewrite>
            </checkout>
        </models>
        <resources>
            <ecommerceteam_echeckout_setup>
                <setup>
                    <module>EcommerceTeam_EasyCheckout</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ecommerceteam_echeckout_setup>
            <ecommerceteam_echeckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ecommerceteam_echeckout_write>
            <ecommerceteam_echeckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ecommerceteam_echeckout_read>
        </resources>
        <helpers>
            <ecommerceteam_echeckout><class>EcommerceTeam_EasyCheckout_Helper</class></ecommerceteam_echeckout>
            <ecommerceteam_easycheckout><class>EcommerceTeam_EasyCheckout_Helper</class></ecommerceteam_easycheckout>
        </helpers>

        <rewrite>
            <ecommerceteam_echeckout_onepage_index>
                <from><![CDATA[#^/checkout/onepage(.*)#]]></from>
                <to>/easycheckout/index$1</to>
            </ecommerceteam_echeckout_onepage_index>
        </rewrite>
    </global>
    <frontend>
        <secure_url>
            <ecommerceteam_echeckout_onepage>/ecommerceteam_echeckout/onepage</ecommerceteam_echeckout_onepage>
            <ecommerceteam_echeckout_onepage>/easycheckout/onepage</ecommerceteam_echeckout_onepage>
        </secure_url>
        <routers>
            <ecommerceteam_easycheckout>
                <use>standard</use>
                <args>
                    <module>EcommerceTeam_EasyCheckout</module>
                    <frontName>easycheckout</frontName>
                </args>
            </ecommerceteam_easycheckout>
            <!--<ecommerceteam_easycheckout2>-->
                <!--<use>standard</use>-->
                <!--<args>-->
                    <!--<module>EcommerceTeam_EasyCheckout</module>-->
                    <!--<frontName>checkout</frontName>-->
                <!--</args>-->
            <!--</ecommerceteam_easycheckout2>-->
        </routers>
        <layout>
            <updates>
                <ecommerceteam_easycheckout module="ecommerceteam_easycheckout">
                    <file>ecommerceteam/easycheckout.xml</file>
                </ecommerceteam_easycheckout>
                <ecommerceteam_easycheckout_sagepay module="ecommerceteam_easycheckout">
                    <file>ecommerceteam/easycheckout-sagepay.xml</file>
                </ecommerceteam_easycheckout_sagepay>
            </updates>
        </layout>
        <translate>
            <modules>
                <EcommerceTeam_EasyCheckout>
                    <files>
                        <default>EcommerceTeam_EasyCheckout.csv</default>
                    </files>
                </EcommerceTeam_EasyCheckout>
            </modules>
        </translate>
        <events>
            <easycheckout_controller_onepage_save_order>
                <observers>
                    <giftmessage>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </easycheckout_controller_onepage_save_order>
            <easycheckout_controller_onepage_before_payment_redirect>
                <observers>
                    <giftmessage>
                        <class>giftmessage/observer</class>
                        <method>checkoutEventCreateGiftMessage</method>
                    </giftmessage>
                </observers>
            </easycheckout_controller_onepage_before_payment_redirect>
            <sales_model_service_quote_submit_after>
                <observers>
                    <save_advanced_order_data>
                        <class>ecommerceteam_easycheckout/observer</class>
                        <method>saveCheckoutAdvancedData</method>
                    </save_advanced_order_data>
                </observers>
            </sales_model_service_quote_submit_after>
            <controller_action_layout_load_before>
                <observers>
                    <save_customer_data>
                        <class>ecommerceteam_easycheckout/observer</class>
                        <method>addCartLayoutUpdates</method>
                    </save_customer_data>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <adminhtml>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <ecommerceteam_easycheckout_update_extension_info>
                        <class>ecommerceteam_easycheckout/observer</class>
                        <method>updateInfo</method>
                    </ecommerceteam_easycheckout_update_extension_info>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
    <default>
        <ecommerceteam_echeckout>
            <general>
                <title>EasyCheckout extension by EcommerceTeam</title>
                <different_shipping_enabled>1</different_shipping_enabled>
                <address_book_enabled>0</address_book_enabled>
            </general>
        </ecommerceteam_echeckout>
        <checkout>
            <options>
                <title>Checkout</title>
                <checkoutmode>0</checkoutmode>
                <oncart_enabled>0</oncart_enabled>
                <different_shipping_enabled>0</different_shipping_enabled>
                <address_book_enabled>1</address_book_enabled>
                <coupon_enabled>1</coupon_enabled>
                <skin>default</skin>
                <subscibe_enabled>0</subscibe_enabled>
            </options>
        </checkout>
    </default>
    <ecommerceteam>
        <EcommerceTeam_EasyCheckout>
            <order_id>100003719</order_id>
            <purchase_id>3476</purchase_id>
        </EcommerceTeam_EasyCheckout>
    </ecommerceteam>
</config>
