/**
 * Easy Checkout - Magento Extension
 *
 * @package:     EasyCheckout
 * @category:    EcommerceTeam
 * @copyright:   Copyright 2012 EcommerceTeam Inc. (http://www.ecommerce-team.com)
 * @version:    2.0.2
 */

#easycheckout-form-wrap .easy-step {    
    background: #fff;
}

#easycheckout-form-wrap p a { color: #000; }

#easycheckout-form { margin-top: 12px; }

#easycheckout-form-wrap .fields .field { float: left; }
#easycheckout-form-wrap .fields { clear: left; margin-bottom: 12px; }


#easycheckout-shipping-payment-step td.shipping-method,
#easycheckout-shipping-payment-step td.payment-method {
    background:#fff;
}
#easycheckout-form-wrap .easy-step h2 {
    color:#000;
    font-size:13px;
    line-height: 13px;
    font-weight:bold;
    text-transform:uppercase;
    margin:0 0 12px 0;
}
#easycheckout-form-wrap #easycheckout-shipping-payment-step h2 {
    background-color: #FFF;    
}
#easycheckout-shipping-payment-step h2 span { color: #FFF; background-color: #000; padding: 0px 10px; }


#easycheckout-form-wrap label {  }
#easycheckout-form-wrap .your-shipping-country label { float: left}
#easycheckout-form-wrap .your-shipping-country .input-box { float: left; margin-left: 10px}

#easycheckout-form-wrap .address-form-list .input-box input.input-text {

}
#easycheckout-form-wrap .address-form-list .input-box input.readonly {
    color:#969696;
}

#easycheckout-form-wrap .address-form-list .input-box select {
}
#easycheckout-form-wrap .address-form-list .input-box .validation-failed {
    border:1px solid #EB340A  !important;
    background:url('../../../images/ecommerceteam/inputbg-error.gif') 0 0 no-repeat #fff !important;
}
#easycheckout-form-wrap #checkout-review-table thead th {

}
#easycheckout-form-wrap #checkout-review-table tfoot tr {

}
#easycheckout-form-wrap #checkout-review-table tfoot tr.first td {

}
#easycheckout-form-wrap #checkout-review-table .even {

}
#easycheckout-form-wrap button.btn-checkout-disabled span {

}
#easycheckout-form-wrap button.btn-checkout-disabled span span {

}
#easycheckout-shipping-payment-step td {
    background: #fff;
}
#easycheckout-form-wrap .discount-form {
    padding: 5px 15px;
    min-width: 245px;
}

#shipping-address-wrapper {
    transition:             all 500ms ease-in-out;
    -moz-transition:        all 500ms ease-in-out;
    -webkit-transition:     all 500ms ease-in-out;
    -o-transition:          all 500ms ease-in-out;
}