
/* Desktop - design for a width of 1680px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1680px <= width */

@media only screen and (min-width: 1680px) {

    .header .row ,
    .footer ,
    .home-slider-container { max-width: 1920px; margin: auto}
    .page { width: 1640px!important } 
    .col1-layout .col-main,
    .col2-left-layout .col-main,
    .col2-right-layout .col-main { width: 1380px!important }
    .product-view .product-img-box .product-image-zoom,
    .product-view .product-img-box .product-image-zoom img { width: 900px!important; height: 900px!important; }
    .product-view .product-img-box .linkSocial, 
    .product-view-bottom .product-img-box, 
    .product-view .product-img-box {  width:900px!important }
    .product-view .product-collateral {display: block!important; margin-top: 30px}
    .product-view-bottom .product-collateral {display: none!important}
    .catalog-product-view .breadcrumbs { margin-left: 20px!important}
    .catalog-product-view .breadcrumbs>ul {max-width: 800px!important}
}

/* Desktop - design for a width of 1440px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1440px <= width */

@media only screen and (min-width: 1440px) and (max-width: 1679px) {
    
/*    .page { width: 1300px!important; }    */
}

/* Desktop - design for a width of 1366px and 1360px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1360px <= width */

@media only screen and (min-width: 1360px) and (max-width: 1439px) {
 
/*    .page { width: 1200px!important; }    */
}


/* Desktop - design for a width of 1280px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1280px <= width */

@media only screen and (min-width: 1280px) and (max-width: 1359px) {        
    
}

/* Tablet (Portrait) - design for a width of 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    
}
/* All mobile - design for a width of less than 768px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 768px */
@media only screen and (max-width: 767px) {
/*    .page { width: 100%!important; }    */
}

/* Mobile (Landscape) - design for a width of 480px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
/*    .page { width: 100%!important; }    */
    .header  li { padding-right: 5px!important; }
}


/* Mobile (Landscape, iPhone 4 Portrait) - design for a width of 640px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/
/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {
/*    .page { width: 100%!important; }    */
    .header  li { padding-right: 5px!important; }   
}





/* Mobile (Portrait) - design for a width of 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {

		
	/* Hide */
	.hide-below-960 { display:none !important; }
	.hide-below-768 { display:none !important; }
	.hide-below-480 { display:none !important; }
        .max-width-below-480 {width: 100%!important}
/*        .page { width: 100%!important; }    */

        .header  li { padding-right: 5px!important; }
}





/* Mobile (Portrait) - design for a width of less than 320px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* width < 320px */
@media only screen and (max-width: 319px) {
		
	/* Hide */
	.hide-below-960 { display:none !important; }
	.hide-below-768 { display:none !important; }
	.hide-below-480 { display:none !important; }
	.hide-below-320 { display:none !important; }
        .max-width-below-480 {width: 100%!important}
        .max-width-below-320 {width: 100%!important}
        .no-float-below-320 {float: none!important; clear: both}
        
        .social-link {margin: 10px auto; width: 100%}
        .social-link .social {float: none; margin: 10px auto}
        
/*        .page { width: 100%!important; }    */

        .header  li { padding-right: 5px!important; }
}
